<nav class="navbar navbar-expand-lg" style="background-color: rgb(28, 73, 141);">
  <div class="logo">
    <img src="./../../assets/app-logo.jpg" alt="Research Portal Logo">
  </div>
  <a class="navbar-brand">&nbsp;<b><i>Researchaide</i></b></a>
  <button class="navbar-toggler" type="button" (click)="onToggleNav()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show' : isExpanded}">
    <ul class="navbar-nav" [ngClass]="{'mr-auto': isExpanded, 'ml-auto': !isExpanded}">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" (click)="onDropdownToggle()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" [ngClass]="{'show' : isDropdownOpen}" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
      <li class="nav-item" *ngIf="!loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLinkClicked()"
          [routerLink]="['home']"
          routerLinkActive="active"
        >Home</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLinkClicked()"
          [routerLink]="['search-papers']"
          routerLinkActive="active"
        >Search</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLinkClicked()"
          [routerLink]="['news']"
          routerLinkActive="active"
        >News</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLinkClicked()"
          [routerLink]="['queries']"
          routerLinkActive="active"
        >FAQs</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLinkClicked()"
          [routerLink]="['contact-us']"
          routerLinkActive="active"
        >Contact Us</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLinkClicked()"
          [routerLink]="['login']"
          routerLinkActive="active"
        >Login</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a
          class="nav-link"
          style="cursor: pointer;"
          (click)="onLogOut()"
          routerLinkActive="active"
        >Logout</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
