<div class="container">
  <div class="heading">
    <h2>FAQs</h2>
  </div>
  <!-- <mat-accordion multi="true">
    <mat-expansion-panel class="myPanels">
      <mat-expansion-panel-header class="myPanelHeader">
        <mat-panel-title>
          From where can we find the template?
        </mat-panel-title>
        <mat-panel-description>
          shoaib@gmail.com
        </mat-panel-description>
      </mat-expansion-panel-header>
      You can download it from your dashboard!!!
    </mat-expansion-panel>
  </mat-accordion> -->
  <div class="card myCard">
    <div class="card-body">
      <h2 class="card-title">From where can we find the template?</h2>
      <h3 class="card-subtitle text-muted"><i>shoaib@gmail.com</i></h3>
      <p class="card-text">You can download it from your dashboard!!!</p>
    </div>
  </div>
  <div class="card myCard">
    <div class="card-body">
      <h2 class="card-title">When will we be informed about the dates?</h2>
      <h3 class="card-subtitle text-muted"><i>tanvee@gmail.com</i></h3>
      <p class="card-text">The notice regarding that will be updated soon!</p>
    </div>
  </div>
  <div class="card myCard">
    <div class="card-body">
      <h2 class="card-title">How many co-authors are allowed??</h2>
      <h3 class="card-subtitle text-muted"><i>huzefa@gmail.com</i></h3>
      <p class="card-text">Total of 3! one Author and max 2 co-authors.</p>
    </div>
  </div>
  <div class="card myCard">
    <div class="card-body">
      <h2 class="card-title">How to download the research papers?</h2>
      <h3 class="card-subtitle text-muted"><i>kashif@gmail.com</i></h3>
      <p class="card-text">Check on the Search tab in website.</p>
    </div>
  </div>
</div>
