
.container{
  width: 100%;
  min-height: 100%;
}
.myCard{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: fit-content;
}
.myCard:last-child{
  margin-bottom: 15px;
}
.card-title{
  margin: 0;
}
.heading{
  padding: 0;
  margin: 15px auto;
  text-align: center;
}
