<div class="container">
    <div class="heading">
      <h2>Admin Notices</h2>
    </div>
    <mat-accordion multi="true">
      <mat-card class="myCards" *ngFor="let notice of notices; let i = index">
        <mat-card-header>
          <mat-card-title>{{notice.heading}}</mat-card-title>
          <span class="badge badge-primary" [ngStyle]="{'display': getDisplayValueNew(i)}" style="height: 20px; font-size: medium;">New</span>
          <!-- <mat-card-subtitle>Date: 2020-07-14</mat-card-subtitle> -->
          <mat-card-subtitle><i>{{notice.date}}</i></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{notice.content}}</p>
        </mat-card-content>
      </mat-card>
    </mat-accordion>
    <p style="text-align: center;" *ngIf="notices.length < 1">No Admin Notices</p>
  </div>
  