<div class="container-fluid head">
  <app-header></app-header>
</div>
<div class="container-fluid main">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small blue myFooter">
  <div>
    <h4 style="padding: 0; margin: 0;">Research Portal by SIH 2020</h4>
    Govt. of Andhra Pradesh
  </div>
  <a class="fa fa-facebook"></a>&nbsp;
  <a class="fa fa-twitter"></a>&nbsp;
  <a class="fa fa-instagram"></a>&nbsp;
  <a class="fa fa-google"></a>
</footer>
<!-- <footer style="text-align: center;">
  hello
</footer> -->


<!-- <div class="top">
  <div class="container-fluid">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bottom">
  asdf
</div> -->
