<div class="container">
  <div class="row">
    <div class="col col-sm-3">
        <div class="logo" style="text-align: center;">
          <img src="./../../assets/app-logo.jpg" alt="">
        </div>
    </div>
    <div class="col col-sm-6 title">
      <h1>Researchaide</h1>
    </div>
    <div class="col col-sm-3">
      <div class="logo" style="text-align: center;">
        <img src="./../../assets/SIH_logo.png" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-8 offset-sm-2" style="text-align: center; font-size: x-large;">
      In Search of Papers?<br><br>
      You got the Right Place!<br><br><br>

      <b><i>Team Byters</i></b>
    </div>
  </div>
</div>
