<div class="container">
  <div class="row">
    <div class="col col-sm-3">
        <div class="logo" style="text-align: center;">
          <img src="./../../assets/SIH_logo.png" alt="">
        </div>
    </div>
    <div class="col col-sm-6 title">
      <h1>Research Portal SIH</h1>
    </div>
    <div class="col col-sm-3">
      <div class="logo" style="text-align: center;">
        <img src="./../../assets/GoAP_logo.png" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-8 offset-sm-2" style="text-align: center;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat porttitor dolor, vel pretium erat condimentum et. Curabitur condimentum massa non ex cursus, vel faucibus justo laoreet. Curabitur quis augue id nisi molestie porta. Duis ultrices augue vel leo hendrerit euismod. Vestibulum ut sem volutpat, porta nisi vitae, varius nisl. Cras facilisis nunc nec placerat lacinia. Praesent a ex velit. Sed ornare leo nec congue auctor. Proin porttitor a tellus eu tincidunt. Cras auctor, ligula aliquet pellentesque lacinia, justo massa efficitur arcu, a mattis dolor tellus sed lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Phasellus sagittis nunc a mauris aliquet tempor. Mauris ac ultricies turpis. Curabitur aliquam eleifend erat quis sodales. Suspendisse ac ipsum et urna malesuada posuere non a orci. Fusce lacinia mattis egestas. Vestibulum dapibus mauris quis nisi imperdiet, et tempus lacus lobortis. Ut orci nunc, facilisis nec maximus nec, vehicula ut tellus. Sed id sem iaculis, aliquam erat vel, malesuada nisi.

Proin ornare semper sapien, ac pellentesque ligula porta vel. Pellentesque eu risus vitae dui accumsan malesuada. Duis sit amet tincidunt sapien, et bibendum ante. Donec lacinia, sem ut finibus dapibus, tortor neque faucibus ipsum, vitae suscipit lectus sapien eu leo. Duis convallis sagittis nunc sed auctor. Vivamus vitae mollis neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eget metus eget purus semper blandit. Nullam sit amet nunc vitae risus vehicula ultricies ut eu augue. Vestibulum rhoncus dignissim nunc in accumsan. Integer suscipit neque quis eleifend sodales. Mauris non tempor lorem, et tincidunt nunc. Nulla vel tristique nibh, sed molestie augue. Pellentesque ac ipsum urna.
    </div>
  </div>
</div>
